/*****************************************************************************/
/*
/* Body, Typography
/*
/*****************************************************************************/


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body {
    background: #ffffff;
    background-attachment: fixed;
    font: 15px arial;
}

h2 {
	color:#5B9BD5; 
}

/* All purpose container */
.container {
	width: 1320px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.aboutcontent{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.column {
	width: 460px;
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-right: 75px;
	text-align: justify;
}

.column img {
	max-width: 100%;
	max-height: 100%;
}

/*****************************************************************************/
/*
/* Navbar
/*
/*****************************************************************************/

.navbar {
	height: 90px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 100px;
}

.nav-items {
	float:right;
	color: black;
}

.nav-items li {
	margin-left: 50px;
	list-style: none;
	float:left;
	color: black;
}

a{
	color: black;
	text-decoration: none;
}


a:hover{ 
text-decoration:underline; 
}

.navbar a.current{ 
text-decoration:underline; 
}

.logo{
	float: left;
	opacity: 1.0;

}


/*****************************************************************************/
/*
/* Content Layout
/*
/*****************************************************************************/

.content {
	background-color: white;
	/*height: 1000px;  change the height as needed*/
	padding: 15px;
	border-radius: 10px;
	}


.content-header {
	background-color: #7F9EAD;
	color: white;
	height: 150px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

/*****************************************************************************/
/*
/* Content Body Format
/*
/*****************************************************************************/


.content-body p{
	margin-left: 5px;
	font-size: 10px;
	padding: 5px;
}

.content-body table {
	width: 100%;
}

.box{
   width:350px;
   background-color: white;
   margin-right: 60px;
   margin-left: 5px;
   margin-bottom: 30px;
   float: left;
   text-align: center;
   max-width:100%;
   max-height:100%;
}

.box img {
    opacity: 1.0;
    filter: alpha(opacity=40);
    max-width:100%;
	max-height:100%;
}

.box img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100);
}

.share img {
    opacity: 1.0;
    filter: alpha(opacity=40);
}

.share img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100);
}
/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/


table {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: 0px;
}
h2 {
	width:400px;
	margin-left: auto;
	margin-right: auto;
}

.tablesmall{
	width: 125px;
	vertical-align: top;
}

.tablebig{
	width: 668px;
	vertical-align: top;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
	color: white;
	margin-left: auto;
    margin-right: auto;
}

.share{
	width: 160px;
	margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

/*****************************************************************************/
/*
/* hamburger
/*
/*****************************************************************************/


.menu-btn div {
	position: absolute;
	right: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn{
	float:right;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: black;
	z-index: 99;
	padding-right: 20px;
}
 
.responsive-menu{
	padding-top: 8px;
	display: none;
	float: right;
	text-align: right;

}

.responsive-menu li{
	list-style: none;
}
 
.expand {
	display: block !important; 
}

/*****************************************************************************/
/*
/* Breakpoints
/*
/*****************************************************************************/

@media only screen and (min-width: 960px) {
	.menu-btn {display: none;}
	.responsive-menu li {display: none;}
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    .container { width: 768px; }
    .content{ width: 860px;}
    .navbar{ margin-right: 200px;}
    .footer { width: 200px; }
    .nav-items {display: none;}

    

	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    .container { width: 480px; }
    .content{ width: 480px;}
    .navbar{ margin-right: 250px;}
    .nav-items {display: none;}
    .footer { width: 200px; }
}

/*phone*/
@media only screen and (max-width: 479px) {
    .container { width: 480px; }
    .content{ width: 480px;}
    .navbar{ margin-right: 150px;}
    .nav-items {display: none;}
    .footer { width: 200px; }
}
}
