/*****************************************************************************/
/*
/* Body, Typography
/*
/*****************************************************************************/


/* Apply a natural box layout model to all elements,
so that width takes padding into account.  Otherwise you have to subtract
out the padding. */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body {
    background: #ffffff;
    background-attachment: fixed;
    font: 15px arial;
}

/* All purpose container */
.container {
	width: 1080px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 50px;
	padding-right: 50px;
}

/*****************************************************************************/
/*
/* Navbar
/*
/*****************************************************************************/

.navbar {
	height: 157px;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-right: 100px;
	/*float:right;*/
/*	margin-left: auto;
	margin-right: auto;*/
}

.nav-items {
	float:right;
	color: black;
}

.nav-items li {
	margin-left: 50px;
	list-style: none;
	float:left;
	color: black;
}

.navbar a:link, a:visited {
	color: black;
	text-decoration: none;
}

.logo{
	float: left;

}

/*****************************************************************************/
/*
/* Content Layout
/*
/*****************************************************************************/

.content {
	background-color: white;
	height: 1080px; /* change the height as needed*/
	padding: 15px;
	border-radius: 10px;
	}

.content-header {
	background-color: #7F9EAD;
	color: white;
	height: 150px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}

/*****************************************************************************/
/*
/* Content Body Format
/*
/*****************************************************************************/


.content-body p{
	margin-left: 5px;
	font-size: 10px;
	padding: 5px;
}

.content-body table {
	width: 100%;
}

.box{
   width:250px;
   height:300px;
   background-color: white;
   margin: 20px 20px;
   float: left;
}

img {
    opacity: 1.0;
    filter: alpha(opacity=40);
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100);
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
	color: white;
	height: 100px; /* change the height as needed*/
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
}

/*****************************************************************************/
/*
/* Breakpoints
/*
/*****************************************************************************/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    .container { width: 768px; }
    .content{ width: 755px;}
    .navbar{ margin-right: 200px;}


    #footer { width: 768px; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    .container { width: 480px; }
    .content{ width: 480px;}
    .navbar{ margin-right: 250px;}


    #footer { width: 480px; }
}


@media only screen and (max-width: 479px) {
    .container { width: 480px; }
    .content{ width: 480px;}
    .navbar{ margin-right: 250px;}


    #footer { width: 480px; }
}
}